body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 450px;
}

.numbers {
    display: flex;
    flex-direction: column;

}

button {
    width: 80px;
    height: 80px;
    font-size: 32px;
}

#calc {
    display: flex;
    margin-bottom: 40px;
    /* margin-left: 150px; */
    font-size: 32px;
}